/* body of the page */

body {
  background-color: #e5e5e57b;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* header top */

header {
  background-color: #cf2b2b;
  width: 414px;
  height: 92px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  position: fixed;
  top: auto;
  left: auto;
  z-index: 1;
}

header h1 {
  width: 248px;
  height: 44px;
  font-family: "Righteous", cursive;
  font-weight: 400;
  font-size: 44px;
  line-height: 54px;
  color: #ffffff;
  margin-top: 8px;
  margin-left: 21px;
}

header p {
  width: 226px;
  height: 17px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
  margin-top: 5px;
  margin-left: 21px;
}

/* main content */

main {
  background-color: #e5e5e5;
  width: 414px;
  margin-top: 90px;
  margin-bottom: 90px;
}

main h2 {
  height: 25px;
  margin-top: 20px;
  margin-left: 19px;
  font-family: "Righteous", cursive;
  font-weight: 400;
  font-size: 26px;
  line-height: 32px;
  color: #333333;
}

main h2:nth-child(1) {
  margin-top: 30px;
}

/* main dishes session */

.main-dishes {
  height: 250px;
  margin-top: 15px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow-x: scroll;
}

.main-dishes-information {
  background-color: #ffffff;
  min-width: 172px;
  height: 216px;
  margin-left: 19px;
  border-radius: 9px;
  box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-dishes-information:hover {
  cursor: pointer;
}

.selecting {
  border: 5px solid #32B72F;
}

.selecting .check {
  opacity: 1;
  color: #32B72F;
  font-size: 20px;
}

.check {
  opacity: 0;
}

.main-dish-container {
  width: 147px;
}

.main-dish-container img {
  width: 144px;
  height: 87px;
  border-radius: 4px;
}

.main-dish-container h3 {
  width: 139px;
  height: 23px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: #333333;
  margin-top: 5px;
}

.main-dish-container h4 {
  width: 147px;
  height: 39px;
  font-family: "Roboto", sans-serif;
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: 300;
  font-size: 15px;
  line-height: 17px;
  color: #a6a6a6;
}

.main-dish-container h5 {
  width: 66px;
  height: 19px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #000000;
}

.main-dish-container div:nth-child(4) {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* drinking session */

.drinks {
  height: 250px;
  margin-top: 15px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow-x: scroll;
}

.drinks-information {
  background-color: #ffffff;
  min-width: 172px;
  height: 202px;
  margin-left: 19px;
  border-radius: 9px;
  box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.drinks-information:hover {
  cursor: pointer;
}

.drinks-container {
  width: 147px;
}

.drinks-container img {
  width: 144px;
  height: 87px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.drinks-container h3 {
  width: 139px;
  height: 23px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: #333333;
  margin-top: 5px;
}

.drinks-container h4 {
  width: 147px;
  height: 18px;
  font-family: "Roboto", sans-serif;
  margin-top: 5px;
  margin-bottom: 10px;
  font-weight: 300;
  font-size: 15px;
  line-height: 17px;
  color: #a6a6a6;
}

.drinks-container h5 {
  width: 66px;
  height: 19px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #000000;
}

.drinks div:nth-child(4) {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* dessert session */

.dessert {
  height: 250px;
  margin-top: 15px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow-x: scroll;
}

.dessert-information {
  background-color: #ffffff;
  min-width: 172px;
  height: 202px;
  margin-left: 19px;
  border-radius: 9px;
  box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dessert-information:hover {
  cursor: pointer;
}

.dessert-container {
  width: 147px;
}

.dessert-container img {
  width: 144px;
  height: 87px;
  border-radius: 4px;
}

.dessert-container h3 {
  width: 139px;
  height: 23px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: #333333;
  margin-top: 5px;
}

.dessert-container h4 {
  width: 147px;
  height: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 17px;
  margin-top: 5px;
  color: #a6a6a6;
}

.dessert-container h5 {
  width: 66px;
  height: 19px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #000000;
}

.dessert div:nth-child(4) {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* hiding scrollbar */

.main-dishes::-webkit-scrollbar,
.drinks::-webkit-scrollbar,
.dessert::-webkit-scrollbar {
  display: none;
}

/* end footer */

footer {
  background-color: #ffffff;
  width: 414px;
  height: 92px;

  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  bottom: 0px;
  left: auto;
}

.finalize-order {
  width: 364px;
  height: 61px;
  border-radius: 50px;
  border: none;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  background-color: #cbcbcb;
  color: #ffffff;
}

.selected-button {
  background-color: #32B72F;
}

.finalize-order {
  cursor: pointer;
}
